# Ignore object files 
*.obj
# Ignore swap files 
*.swp

# Ignore c8 binary files 
*.c8
*.ch8
# Ignore other binary files
*.bin

# Ignore log files 
*.log

# Ignore the output binaries 
c8
c8asm
c8dis

# Ignore the LSP cache
.ccls-cache/

# Ignore core dumps 
vgcore*

# Ignore tags files
tags
